/* custom-home */

main {
    /*
    background: url(/img/NewBackground2.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #000;

    */
    background:transparent;
}


#wrapper, #footer {
    background:transparent;
}

.carousel .carousel-inner {
    height: inherit;
}

#custom-text {
    background: transparent;
    color: #fff;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 0;
    text-align: center;
}
#custom-text h3 {
    color: #fff;
}



.cc-0 {
    height: 145px;
    background-color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.top-home-block {
    background: white;
    margin-bottom: -65px;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;

}

#html-block-1 {
    background-color: #fff;
}


.featured-products {
    background:#fff;
    padding-top: 20px;
    margin-bottom:25px;
}

#products .products, .featured-products .products, .product-accessories .products, .product-miniature .products {
    background:#fff;
    justify-content: space-between;
}

.h1.products-section-title {
    color: #000;
}

#featured-products-container {
    background-color: #fff;
    margin-bottom: -24px;
}


/* blockinstagramm */
#blockinstagram {
    color: #fff;
    background-color: transparent;
    padding-top:50px;
}
#blockinstagram .h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

#blockinstagram figure {
  position: relative;
  overflow: hidden;
  height: 290px;
}

.cc-1 {
  top:0;
}
.cc-2 {
  top:0;
}


@media (min-width: 576px){
  #blockinstagram figure {
    height: 240px;
  }
   .product-miniature .thumbnail-container {
    width: 240px;
  }
  .cc-1 {
    top:0;
  }
  .cc-2 {
    top:0;
  }
}


@media (min-width: 768px){
  #blockinstagram figure {
    height: 210px;
  }
   .product-miniature .thumbnail-container {
    width: 240px;
  }
  .cc-1 {
    top:-100px;
  }
  .cc-2 {
    top:-22px;
  }
}


@media (min-width: 992px){
  #blockinstagram figure {
    height: 290px;
  }
   .product-miniature .thumbnail-container {
    width: 257px;
  }
  .cc-2 {
    top:17px;
  }
}

@media (min-width: 1200px){
  #blockinstagram figure {
    height: 370px;
  }
   .product-miniature .thumbnail-container {
    width: 257px;
  }
  .cc-1 {
    top:-100px;
  }
  .cc-2 {
    top:74px;
  }

}



#blockinstagram figure img {
position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: auto;
  min-width:100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.pink-balloon {
  position: absolute;
  z-index: 1;
  background-color: #d73672;
  color: #fff;
  width: 10rem;
  height: 5rem;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  top: 62%;
  left: 35%;
  transition: all 1.5s ease-out 0s;
  opacity: 0;
display:none;
}

.pink-balloon a {
  color: #fff;
}

.carousel .carousel-item .caption {
    position: absolute;
    bottom: 0;
    left: -400px;
    color: #fff;
    width: 400px;
    padding:2rem;
    background-color: #d73672;
    height: 100%;
    opacity: 0;
}